

body {
    background-color: lightgreen;
    text-align: center;
    max-width: 500px;
}

.gameTitle {
    padding: 30px;
    background-color: dodgerblue;
    font: black;
}

.rN {
    padding: 30px;
    background-color: blueviolet;
    max-width: 500px;
}

.userScore {
    padding: 30px;
    background-color: lightcoral;
    max-width: 500px;
}

.crystalButtons {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.text {
    size: 15px;
    line-height: 1.5;
}


